body {
	width: 600px;
	margin: auto;
}

header {
	text-align: center;
}

#content > div {
	border: solid 2px;
	border-radius: 5px;
	padding: 5px;
	font-size: 1.5em;
}

input[type='number'] {
    -moz-appearance:textfield;
    height: 50px;
    width: 100px;
	font-size: 1.5em;
	border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
	font-size: 1em;
}

#result {
	height: 200px;
}